<div class="page-container" *ngIf="employee$ | async as employee">
  <mat-card>
    <mat-card-header>
      <img matCardAvatar
           defaultImage="assets/demo.jpg" lazyLoad="/api/employee/{{employee.id}}/picture"
           alt="{{employee | fullname}}">
      <mat-card-title>{{ employee | fullname}}</mat-card-title>
      <mat-card-subtitle>{{employee.title}}</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content style="margin-top: 10px;">
      <p>{{employee.firstName}} is from the <b>{{employee.location}}</b> office.</p>
    </mat-card-content>

    <mat-card-footer>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Interests
          </mat-panel-title>
          <mat-panel-description>
            Find out what {{employee.firstName}} likes
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <p *ngIf="employee.interests.length === 0">Nothing</p>
          <mat-list-item *ngFor="let interest of employee.interests" [routerLink]="[interest.id]">
            {{interest.name}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-card-footer>
    <!--<mat-card-actions>-->
    <!--<button mat-button [routerLink]="['interests']">INTERESTS</button>-->
    <!--</mat-card-actions>-->
  </mat-card>

</div>
